body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
p {
  margin: 0;
  color: #434455;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h2,
h3 {
  color: #2e2f42;
}

.container {
  margin-top: 25.5px;
  padding: 0 15px;
  width: 1158px;
  margin: 0 auto;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.navigation {
  align-items: center;
}

.navigation,
.menu,
.link-contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu {
  gap: 40px;
  margin-left: 76px;
  padding: 24px 0;
}
.list-contact {
  gap: 40px;
}

.link-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.part-logo {
  color: #2e2f42;
}

.link-menu {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.link-menu:hover {
  color: #404bbf;
}
.link-menu:focus {
  color: #404bbf;
}
.contact {
  font-style: normal;
}
.link-contact {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.link-contact:hover {
  color: #404bbf;
}
.link-contact:focus {
  color: #404bbf;
}
.container-section-first {
  margin-top: 25px;
}
.section-first {
  background-color: #2e2f42;
  color: #fff;
  text-align: center;
  padding: 188px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}
.text-header-first {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.button {
  background-color: #4d5ae5;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #fff;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.list-second-section {
  display: flex;
  padding: 0 156px;
  gap: 24px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.text-header-second {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.text-second {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-third {
  background-color: #f4f4fd;
}
.section-third-element {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.text-header-third,
.text-third {
  display: flex;
  justify-content: center;
}
.header-section-third {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding: 120px 0 72px 0;
}
.list-section-third {
  display: flex;
  justify-content: space-between;
  padding: 0 156px 120px;
  gap: 24px;
}
.text-third {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
  padding-bottom: 32px;
}
.text-header-third {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-top: 32px;
}
.section-fourth {
  padding: 0 156px;
}
.header-section-fourth {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  padding: 120px 0 72px;
}

.list-section-fourth {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-bottom: 120px;
}

.list-item-fourth {
  border: 1px solid #e7e9fc;
}

.text-header-fourth {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-top: 32px;
  margin-left: 16px;
}
.text-fourth {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin: 8px 0 32px 16px;
}
.footer {
  background-color: #2e2f42;
  padding: 101.5px 0 100px 156px;
}
.part-logo-footer {
  color: #f4f4fd;
}
.text-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  margin-top: 17.5px;
}
